<!DOCTYPE html>
<html>
<head>
  <title>Carrier</title>
  <%= yield :stylesheets %>
  <%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "main_#{simple_messages_ui}" %>
  <% javascript_include_tag "application" %>
  <script src="/assets/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/rails.js" type="text/javascript"></script>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="carrier_wrapper">
    <div class="carrier_nav_line">
      <h1><%= raw(t 'views.simple_messages.title') %></h1>
      <div class="carrier_nav_line_inner">  
        <div class="carrier_new">
          <%= link_to raw(t 'views.simple_messages.new_link'), carrier.new_message_path %>
        </div>  
        <%= render :partial => 'nav_messages' %>
      </div> 
    </div> 
    
    <%= yield %>
  
  </div>
  <div class="carrier_credits">
    <%= current_user.username %> <%= raw(t 'views.simple_messages.description') %>
  </div>
</body>
</html>
