<!DOCTYPE html>
<html>
<head>
  <title>MessagesMa</title>
  <%= stylesheet_link_tag    "application" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <script src="/assets/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/rails.js" type="text/javascript"></script>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
