<!DOCTYPE html>
<html>
<head>
  <title>Carrier</title>
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'jquery.min', 'rails' %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="carrier_wrapper">
    <%= content_tag :div, notice, :id => "flash_notice" %>
    <%= yield %>
  </div>
</body>
</html>
