<%= form_for([carrier, @message], :html => { :autocomplete => :off }) do |f| %>

  <%= error_messages_for @message %>
  
  <div class="message_ma_new_wrapper">
    <div class="message_ma_new_wrapper_1">
      <div class="field">
        <div>
          <%= f.label :recipients_names, t('views.carrier.new_recipients') %>
        </div>
        <div id="recipients">
          <%= render :partial => "carrier/messages/recipients", :locals => {:f => f } %>
        </div>
      </div>    
    </div>
    <div class="message_ma_new_wrapper_2">
      <div class="field">
        <div>
          <%= f.label :subject, t('views.carrier.new_subject') %>
        </div>
        <%= f.text_field :subject %>
      </div>
      <div class="field">
        <div>
          <%= f.label :content, t('views.carrier.new_content') %>
        </div>
        <%= f.text_area :content, :rows => 6 %>
      </div>
      <%= f.hidden_field :sender, :value => current_user.id %>
      <div class="actions">
        <%= f.submit t('views.carrier.new_send') %>
      </div>    
    </div> 
  </div>

<% end %>
