<%= link_to (action_name == 'sent' ? carrier.as_sent_message_path(message) : carrier.message_path(message)), :class => "carrier_message_wrapper #{'carrier_has_new' if m > 0 }" do %>
  <div class="carrier_message_date"><%= message.date_formatted %></div>
  <div class="carrier_message_users">
    <%= truncate(message.sender_name + " + " + message.recipients_names, :length => 20) %>
    <span class="carrier_message_branch">
      (<%= message.chain.messages_count %><% if m > 0 %>/<b class="red"><%= m %></b><% end %>)
    </span>
  </div>    
  <div class="carrier_message_body">
    <%= simple_format truncate(%| <span class="carrier_message_subj %s">%s</span> &raquo; %s | % [('carrier_has_new' if m > 0), message.subject, message.content], :length => 140) %>
  </div>
<% end %>

