<%= content_tag :div, :class => "message_collapse", :id => "message-#{message.id}" do %>   
  <div class="message_ma_wrapper ma_open">
    <div class="message_ma_date"><%= raw message.date_formatted %></div>
    <div class="message_ma_user"><%= message.sender_name %></div>
    <div class="message_ma_subj"><b><%= message.subject %></b></div>
    <div><%= message.content %></div>
  </div>
<% end %>
