<div id="carrier">
  <div class="carrier_wr">
    <%= render :partial => 'head' %>
    <%= render :partial => 'nav_messages' %>
    <div class="carrier_message_box_info">
      <div class="carrier_message_archive_chain" id="archive_chain">
        <%= render :partial => 'archive_chain', :locals => {:chain => @message.chain} %>
      </div>  
      <h2><%= @message.subject %></h2>
      <%= raw(t('views.carrier.participants')) %>
      <%= b raw(t('views.carrier.me')) %>,
      <%= b @message.recipients_names %>
    </div>

    <% @message.answers.each do |message| %>
    <%= render :partial => 'message_collapsed', :locals => { :message => message } %>
    <% end %>

    <div class="carrier_message_wrapper carrier_open">
      <div class="carrier_message_date">
        <%= @message.date_formatted %>
      </div>
      <div class="carrier_message_user">
        <%= @message.sender_name %>
      </div>
      <div>
        <%= simple_format @message.content %>
      </div>
    </div>

    <div class="carrier_reply_wrapper">    
      <%= link_to raw(t 'views.carrier.reply_link'), carrier.reply_message_path(@message), :remote => true %>    
      <div id="reply_form"></div>   
    </div>
  </div> <!-- // div.carrier_wr -->
</div> <!-- // div#carrier -->
