<div class="column-title">
	<div class="ui-corner-all right">
	</div>
	<h1 class="ui-corner-right">Личная переписка</h1>
</div>
<div class="column-left-tiny">
    <%= link_to_ui 'Новое письмо', new_message_path, :class => "ui_btn ", :span_class => "ui-icon ui-icon-comment" %>
</div>
<div class="column-right-tiny last">
  <%= render :partial => 'nav_messages' %>
<% if @archive_index %>
  <h6>Сообщения в архиве:</h6>
<% end %>

<% @messages.each do |message| %>
<% m = message.chain_collection_unread_by(current_user) %>
<%= link_to (@sent ? as_sent_message_path(message) : message), :class => "message_wrapper #{'has_new' if m>0 } ui-corner-all" do %>

	<div class="message_date"><%= raw message.created_at.strftime('%H:%M <b>%d.%m</b>') %></div>
  <div class="message_users">
    <% unless message.to == message.from %>
    <%= message.from_name %> + <%= truncate(message.recipients_names, :length => 16) %>
    <% else %>
      Я
    <% end %>
	<span class="message_branch">(<%= message.chain.messages.count %><% if m > 0 %>/<b class="red"><%= m %></b><% end %>)</span>
	</div>

	<div class="message_body">
    <%= raw truncate raw("<span class='has_new'>#{ message.chain.chain_type==:report ? 'переписка по поводу отчёта '+message.chain.report.id.to_s : message.subject }</span> &raquo; ") + message.content, :length => 90 %>
    <% if message.about? %>
    <span>
      по поводу: <%= message.about_name %>
    </span>
    <% end %>
	</div>
	<div class="clear"></div>
		<% link_to 'Ответить', {:action => 'reply', :id => message.id } %>
		<% link_to 'Удалить', message, :confirm => 'Уверены?', :method => :delete %>
<% end %>

<% end %>
<!-- paginate @messages %-->
</div>
