<%= form_for([messages_ma, @message], :html => { :autocomplete => :off }) do |f| %>
  
<%= error_messages_for @message %>

<div class="message_ma_new_wrapper">
  <div class="message_ma_new_wrapper_1">
  	<div class="field">
      <%= f.label "Recipients:" %><br />
        <div id="receiver">
          <%= render :partial => "messages_ma/messages/#{simple_messages_ui}/one_receiver", :locals => {:f => f } %>
        </div>
    </div>    
  </div>
  <div class="message_ma_new_wrapper_2">
    <div class="field">
      <%= f.label "Subject:" %><br />
      <%= f.text_field :subject %>
    </div>
    <div class="field">
      <%= f.label "Message:" %><br />
      <%= f.text_area :content, :rows => 6 %>
    </div>
    <%= f.hidden_field :sender, :value => current_user.id %>
    <div class="actions">
      <%= f.submit "Send" %>
    </div>    
  </div> 
</div>

<% end %>
