<%= form_for([messages_ma, @message], :html => { :autocomplete => :off }) do |f| %>
<% if @message.errors.any? %>
  <div id="error_explanation">
    <h2>Пожалуйста, проверьте правильность заполнения следующих полей:</h2>
    <ul>
    <% @message.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="message_ma_new_wrapper">
  <div class="message_ma_new_wrapper_1">
  	<div class="field">
      <%= f.label "Кому:" %><br />
        <div id="receiver">
          <%= render :partial => "messages_ma/messages/#{@ui}/one_receiver", :locals => {:f => f } %>
        </div>
    </div>    
  </div>
  <div class="message_ma_new_wrapper_2">
    <div class="field">
      <%= f.label "Тема:" %><br />
      <%= f.text_field :subject %>
    </div>
    <div class="field">
      <%= f.label "Сообщение:" %><br />
      <%= f.text_area :content, :rows => 6 %>
    </div>
    <%= f.hidden_field :from, :value => current_user.id %>
    <div class="actions">
      <%= f.submit "Отправить" %>
    </div>    
  </div> 
</div>

<% end %>
