<div class="messages_ma_nav">
  <ul>
    <li class="<%= 'active' if request.fullpath =~ /messages(\/\d+)?\z/ && !@chain_archived %>"><%= link_to 'Inbox', messages_ma.messages_path %></li>
    <li class="<%= 'active' if request.fullpath =~ /messages\/(\d+\/.*)?sent/ %>"><%= link_to 'Sent', messages_ma.sent_messages_path %></li>
    <li class="<%= 'active' if request.fullpath =~ /messages\/archive/ || @chain_archived %>"><%= link_to 'Archived', messages_ma.archive_messages_path %></li>
  </ul>
</div>
