<%= form_for(@message, :remote => true) do |f| %>
  
<%= error_messages_for @message %>  

<div class="message_ma_new_wrapper replay_message_ma">
  <h4><span class=""><%= current_user.username %></span> &rArr; <span class="red"><%= @message.recipients_names %></span></h4>
  <div class="field">
    <%= f.label "Сообщение:" %><br />
    <%= f.text_area :content, :rows => 6 %>
  </div>
  <%= f.hidden_field :recipients_ids, :value => @message.recipients %>
  <%= f.hidden_field :chain_id, :value => @message.chain_id %>
  <%= f.hidden_field :sender, :value => current_user.id %>
  <%= f.hidden_field :answers_to, :value => @re_message.id %>
  <div class="actions">
    <%= f.submit 'Отправить' %>
  </div>
 </div>
<% end %>
