<div class="ma_wrapper">
  &larr; <%= link_to 'Back to "Inbox"', messages_ma.sent_messages_path %>
  <div class="message_ma_archive_chain" id="archive_chain">
    <%= render :partial => 'archive_chain', :locals => {:chain => @message.chain} %>
  </div>    
</div>

<div class="message_ma_box_info">
  <h2><%= @message.subject_without_re %></h2>
  Participants: <b>me</b> and <b><%= @message.recipients_names %></b>
</div>

<% @message_answers.each do |message| %>
  <%= render :partial => 'message_expanded', :locals => {:message => @message } if message.sender == current_user.id %>
  <%= render :partial => 'message_collapsed', :locals => {:message => @message } if message.sender != current_user.id %>
<% end %>

<div class="message_ma_wrapper ma_open">
  <div class="message_ma_date">
    <%= raw @message.date_formatted %>
  </div>
  <div class="message_ma_user">
    <%= @message.sender_name %>
  </div>
  <div>
    <b><%= @message.subject %></b>
  </div>
  <div>
    <%= @message.content %>
  </div>
</div>

<div class="ma_wrapper">
  <%= link_to 'Reply into thread', reply_message_path(@message), :remote => true %>
  <div id="reply_form"></div>   
</div>
