<div class="messages_ma_wrapper">
  
  <h1>Личная переписка</h1>
  
  <div class="messages_ma_new">
      <%= link_to 'Новое письмо', messages_ma.new_message_path %>
  </div>
  
    <%= render :partial => 'nav_messages' %>

  <div class="message_ma_box_info">
    В переписке участвуют: 
    <% unless @message.to == @message.from %>
    <b>я</b> и <b><%= @message.recipients_names %></b>
    <% else %>
    <b>только я</b>
    <% end %>
    <div class="message_ma_archive_chain" id="archive_chain">
      <%= render :partial => 'archive_chain', :locals => {:chain => @message.chain, :chain_archived => @chain_archived} %>
    </div>
  </div>
  
  <% m = @message.chain_collection_unread_by(current_user) %>
  <% @message_answers.each do |message| %>
    <%= render :partial => 'message', :locals => {:parent_message => @message, :message => message, :mode => 'short', :m => (m>0 ? true : false)} %>
  <% end %>
  <div class="message_ma_wrapper">
  	<% @message.id %>  
    <div class="message_ma_date">
      <%= raw @message.created_at.strftime('%H:%M <b>%d.%m</b>') %>
    </div>
    <div class="message_ma_user"><%= @message.from_name %></div>
    <div><b><%= @message.subject %></b></div>
    <div><%= @message.content %></div>
  </div>
  <div class="message_ma_reply_link">
    <%= link_to 'Ответить в ветку сообщений', reply_form_message_path(@message.id), :remote => true %>
  </div>

<div id="reply_form"></div>

</div>
<!-- %= loader_tag % -->
