<div class="ma_wrapper">
  &larr; <%= link_to 'Вернуться в "Отправленные"', messages_ma.sent_messages_path %>
</div>
<div class="message_ma_box_info">
  <h2><%= @message.subject_without_re %></h2>
  В переписке участвуют: <b>я</b> и <b><%= @message.recipients_names %></b>
</div>

<% m = @message.chain_messages_ub(current_user) %>
<% @message_answers.each do |message| %>
  <%= render :partial => 'message', :locals => {:parent_message => @message, :message => message, :mode => ( message.sender == current_user.id ? 'full' : 'short'), :m => (m > 0 ? true : false)} %>
<% end %>
<div class="message_ma_wrapper ma_open">
	<div class="message_ma_date"><%= raw @message.date_formatted %></div>
<div class="message_ma_user"><%= @message.sender_name %></div>
<div><b><%= @message.subject %></b></div>
<div><%= @message.content %></div>
</div>

<div class="ma_wrapper">
  <%= link_to 'Ответить в ветку сообщений', reply_message_path(@message), :remote => true %>
  <div id="reply_form"></div>   
</div>
